# Global
*/* wayland vulkan pipewire pulseaudio screencast
*/* -man -doc -gtk-doc -telemetry -alsa -X -bluetooth
*/* qml -semantic-desktop -handbook
*/* firewalld nftables -iptables
*/* ios
*/* png jpeg svg webp gif heif tiff jpeg2k
*/* opus ogg flac
*/* vpx

{{ if eq .chezmoi.hostname "denis-laptop" }}
*/* -lto
{{ else }}
*/* lto
{{ end }}

# eigen
dev-cpp/eigen boost

# Kernel install
sys-apps/systemd -kernel-install
sys-kernel/installkernel -systemd

# Rust
dev-lang/rust system-llvm rust-analyzer rustfmt rust-src system-bootstrap

# Python
dev-python/python-lsp-server all-plugins

# Make top look cool
sys-process/procps modern-top

# Pinentry QT
app-crypt/pinentry qt5

# Fix fastfetch seg fault
app-misc/fastfetch pci

# nftables
net-firewall/nftables json python

# Vulkan-Tools
dev-util/vulkan-tools cube

# heif
media-libs/libheif x265

# KeePassXC
app-admin/keepassxc keeshare
sys-libs/zlib minizip

# nheko
net-im/nheko video voip

# Qt6
>=dev-qt/qtbase-6.6.1-r3 opengl
>=dev-qt/qtdeclarative-6.6.1 opengl
>=dev-qt/qttools-6.6.1 opengl

# KDE
kde-plasma/plasma-desktop -kaccounts
kde-plasma/powerdevil brightness-control
kde-plasma/kwin lock                                                                             
app-text/xmlto text 
media-libs/libcanberra alsa
media-libs/phonon -vlc
dev-qt/qtgui eglfs accessibility
sys-apps/systemd policykit
dev-qt/qtcore icu
dev-qt/qtprintsupport cups
kde-frameworks/kcoreaddons dbus
kde-frameworks/kconfig dbus

# KDE X
dev-qt/qtgui X dbus egl
kde-frameworks/kglobalaccel X
kde-frameworks/kwindowsystem X
media-libs/libepoxy X
media-libs/libglvnd X
media-libs/mesa X
x11-libs/libdrm video_cards_radeon
x11-libs/gtk+ X
x11-libs/cairo X
x11-libs/libxkbcommon X

# LibreOffice
app-office/libreoffice-l10n L10N: ru en
app-text/hunspell L10N: ru en
dev-libs/xmlsec nss
media-libs/harfbuzz icu
 
# Noto fonts for maximum characters support
media-fonts/noto cjk

# Flatpak
sys-apps/flatpak X

# MPV 
media-video/mpv cli

# OpenCV
media-libs/opencv ffmpeg

# FFMPEG
media-video/ffmpeg vpx

# ImageMagick
media-gfx/imagemagick xml

# cmus
media-sound/cmus mp4 aac ffmpeg

# Remmina
net-misc/remmina vnc
dev-libs/libdbusmenu gtk3

# transmission
net-p2p/transmission cli

# qemu virt-manager
net-dns/dnsmasq script
sys-apps/dbus X
net-libs/gnutls pkcs11 tools
app-emulation/libvirt pcap numa fuse virt-network
app-emulation/virt-manager gui
app-emulation/qemu spice usb usbredir virgl opengl virtfs
net-misc/spice-gtk usbredir

# qemu user chroot
app-emulation/qemu static-user
dev-libs/glib static-libs
sys-libs/zlib static-libs
sys-apps/attr static-libs
dev-libs/libpcre2 static-libs

# Firmware
sys-kernel/linux-firmware compress-zstd

# Kernel
# sys-kernel/gentoo-kernel savedconfig

# NetworkManager
net-misc/networkmanager iwd wifi -lto -wext -ppp -modemmanager

# Pipewire
media-sound/pulseaudio -daemon
media-video/pipewire sound-server

# Required by www-client/firefox-118.0.2::gentoo[system-libvpx]
media-libs/libvpx postproc

# Required by app-portage/pfl-3.2.1::gentoo[network-cron]
sys-apps/util-linux caps

# required by net-print/cups-filters-1.28.17-r2::gentoo[postscript]
app-text/ghostscript-gpl cups

# aspell
app-text/aspell L10N: en ru

