# undefined-version
# media-libs/alsa-lib undefined-version
# sys-libs/slang undefined-version
# dev-cpp/tbb undefined-version

# new undefined-version
# net-misc/spice-gtk undefined-version
# net-libs/gtk-vnc undefined-version
# net-libs/libnftnl undefined-version
# sys-apps/keyutils undefined-version
# net-wireless/bluez undefined-version

{{ if ne .chezmoi.hostname "denis-laptop" }}
# no-lto
# media-gfx/sane-backends no-lto
# media-gfx/ueberzugpp no-lto

# coz qemu
# dev-libs/glib no-lto
# sys-libs/zlib no-lto
{{ end }}

# helix
# app-editors/helix implicit-int
# app-editors/helix implicit-function-declaration

# gcc-fallback (C only)
# app-cdr/cdrtools gcc-fallback
# app-emulation/qemu gcc-fallback
# sci-libs/lapack gcc-fallback

# Dist Kernel
# sys-kernel/gentoo-kernel gentoo-kernel
