# undefined-version
media-libs/alsa-lib undefined-version
sys-libs/slang undefined-version
# dev-cpp/tbb undefined-version
net-libs/libnftnl undefined-version

# new undefined-version
net-misc/spice-gtk undefined-version
net-libs/gtk-vnc undefined-version
# net-libs/libnftnl undefined-version
sys-apps/keyutils undefined-version
net-wireless/bluez undefined-version

{{ if ne .chezmoi.hostname "denis-laptop" }}
# no-lto
media-gfx/sane-backends no-lto
media-gfx/ueberzugpp no-lto
media-sound/audacity gcc-fallback

# coz qemu
dev-libs/glib no-lto
sys-libs/zlib no-lto
{{ end }}

# helix
# app-editors/helix implicit-int
# app-editors/helix implicit-function-declaration

### gcc-fallback ###
app-cdr/cdrtools gcc-fallback
app-emulation/qemu gcc-fallback
sci-libs/lapack gcc-fallback

# ask cow
sys-devel/binutils gcc-fallback
sys-libs/binutils-libs gcc-fallback

# wtf haskell
dev-haskell/* gcc-fallback
dev-util/shellcheck gcc-fallback
app-admin/haskell-updater gcc-fallback

# others
dev-ruby/nokogiri gcc-fallback
net-misc/networkmanager gcc-fallback
gui-libs/gtk gcc-fallback
app-editors/emacs gcc-fallback
sys-devel/gcc gcc-fallback
dev-ruby/nokogiri gcc-fallback

### Dist Kernel ###
sys-kernel/gentoo-kernel no-lto
sys-kernel/gentoo-kernel-bin no-lto
