# Global
*/* wayland vulkan pipewire pulseaudio screencast
*/* dist-kernel bluetooth
*/* -man -doc -gtk-doc -telemetry -alsa
*/* -kwallet -semantic-desktop -handbook
*/* firewalld nftables -iptables
*/* ios
*/* webp gif heif tiff jpeg2k
*/* opus ogg flac
*/* vpx

{{ if eq .chezmoi.hostname "denis-laptop" }}
*/* -lto
{{ else }}
*/* lto
{{ end }}

# eigen
dev-cpp/eigen boost

# Kernel install
sys-apps/systemd -kernel-install
sys-kernel/installkernel dracut -systemd

# Rust
dev-lang/rust system-llvm rust-analyzer rustfmt rust-src system-bootstrap

# Python
dev-python/python-lsp-server all-plugins

# Make top look cool
sys-process/procps modern-top

# Fix fastfetch seg fault
app-misc/fastfetch pci

# nftables
net-firewall/nftables json python

# Vulkan-Tools
dev-util/vulkan-tools cube

# heif
media-libs/libheif x265

# KeePassXC
app-admin/keepassxc keeshare
sys-libs/zlib minizip

# nheko
net-im/nheko video voip

# KDE
kde-plasma/plasma-meta -crash-handler -browser-integration  -display-manager -legacy-systray -smart
kde-plasma/plasma-desktop -kaccounts
kde-plasma/plasma-firewall -ufw
kde-plasma/plasma-nm openconnect
kde-plasma/powerdevil brightness-control
app-text/xmlto text 
media-libs/libcanberra alsa
media-libs/phonon -vlc
dev-qt/qtgui egl
dev-qt/qtgui eglfs accessibility
x11-libs/wxGTK gstreamer

# LibreOffice
dev-libs/xmlsec nss

# Skanlite
app-text/poppler cairo
 
# Noto fonts for maximum characters support
media-fonts/noto cjk

# MPV 
media-video/mpv cli

# OpenCV
media-libs/opencv ffmpeg

# FFMPEG
media-video/ffmpeg vpx

# cmus
media-sound/cmus mp4 aac ffmpeg

# Remmina
net-misc/remmina vnc
dev-libs/libdbusmenu gtk3

# transmission
net-p2p/transmission cli

# qemu virt-manager
net-dns/dnsmasq script
net-libs/gnutls pkcs11 tools
app-emulation/libvirt pcap numa fuse virt-network
app-emulation/virt-manager gui
app-emulation/qemu spice usbredir virgl virtfs
net-misc/spice-gtk usbredir

# qemu user chroot
app-emulation/qemu static-user
dev-libs/glib static-libs
sys-libs/zlib static-libs
sys-apps/attr static-libs
dev-libs/libpcre2 static-libs

# Firmware
sys-kernel/linux-firmware compress-zstd

# Kernel
# sys-kernel/gentoo-kernel savedconfig

# NetworkManager
net-misc/networkmanager iwd wifi -lto -wext -ppp

# Pipewire
media-sound/pulseaudio -daemon
media-video/pipewire sound-server

# Required by www-client/firefox-118.0.2::gentoo[system-libvpx]
media-libs/libvpx postproc

# Required by app-portage/pfl-3.2.1::gentoo[network-cron]
sys-apps/util-linux caps
