# undefined-version
media-libs/alsa-lib undefined-version
media-libs/libva undefined-version
sys-libs/slang undefined-version
# dev-cpp/tbb undefined-version
net-libs/libnftnl undefined-version
net-misc/spice-gtk undefined-version
net-libs/gtk-vnc undefined-version
# net-libs/libnftnl undefined-version
sys-apps/keyutils undefined-version
net-wireless/bluez undefined-version
sys-libs/binutils-libs undefined-version

{{ if ne .chezmoi.hostname "denis-laptop" }}
# no-lto
media-gfx/sane-backends no-lto
media-gfx/ueberzugpp no-lto
x11-misc/redshift no-lto
sys-devel/gcc no-lto
sys-apps/coreutils no-lto

# coz qemu
dev-libs/glib no-lto
sys-libs/zlib no-lto
{{ end }}

# helix
# app-editors/helix implicit-int
# app-editors/helix implicit-function-declaration
dev-libs/newt implicit-function-declaration

### gcc-fallback ###
# app-emulation/qemu gcc-fallback
# gui-libs/gtk gcc-fallback
# sys-devel/gcc gcc-fallback

### Dist Kernel ###
sys-kernel/gentoo-kernel no-lto
sys-kernel/gentoo-kernel-bin no-lto
