# Globaud
*/* pulseaudio pipewire
*/* vulkan dist-kernel bluetooth
*/* -wayland -egl
*/* -man -doc -gtk-doc -telemetry
*/* firewalld nftables -iptables
*/* webp gif heif tiff jpeg2k
*/* opus ogg flac
*/* vpx

# Reduce GUI
*/* -gnome -gui -qt5 -qt6

# Compilation
*/* lto pgo hardened pie

{{ if eq .chezmoi.hostname "denis-laptop" }}
{{ else }}
{{ end }}

# eigen
dev-cpp/eigen boost

# Rust
dev-lang/rust-bin rust-analyzer rustfmt rust-src
 
# Make top look cool
sys-process/procps modern-top

# Fix fastfetch seg fault
app-misc/fastfetch pci

# nftables
net-firewall/nftables json python

# Vulkan-Tools
dev-util/vulkan-tools cube

# heif
media-libs/libheif x265

# KeePassXC
app-admin/keepassxc keeshare browser
sys-libs/zlib minizip

# nheko
net-im/nheko video voip

# Emacs
app-editors/emacs gui dynamic-loading jit json harfbuzz
app-emacs/emacs-common gui
sys-devel/gcc jit

# FCITX
app-i18n/fcitx-configtool kcm
app-i18n/fcitx-qt qt5 qt6

# MATE
mate-base/mate -themes
x11-wm/marco xinerama
x11-libs/libdrm video_cards_radeon

# LibreOffice
dev-libs/xmlsec nss

# Skanlite
app-text/poppler cairo
 
# Noto fonts for maximum characters support
media-fonts/noto cjk

# OpenCV
media-libs/opencv ffmpeg -opengl

# FFMPEG
media-video/ffmpeg vpx libass

# cmus
media-sound/cmus mp4 aac ffmpeg

# Remmina
net-misc/remmina vnc
dev-libs/libdbusmenu gtk3

# qemu virt-manager
net-dns/dnsmasq script
net-libs/gnutls pkcs11 tools
app-emulation/libvirt pcap numa fuse virt-network
app-emulation/qemu spice usbredir virgl virtfs
net-misc/spice-gtk usbredir
app-emulation/virt-manager gui

# qemu user chroot
app-emulation/qemu static-user
dev-libs/glib static-libs
sys-libs/zlib static-libs
sys-apps/attr static-libs
dev-libs/libpcre2 static-libs

# Firmware
sys-kernel/linux-firmware compress-zstd

# NetworkManager
net-misc/networkmanager iwd wifi -wext -ppp

# Pipewire
media-sound/pulseaudio -daemon
media-video/pipewire sound-server pipewire-alsa

# Required by www-client/firefox-118.0.2::gentoo[system-libvpx]
media-libs/libvpx postproc

# Required by app-portage/pfl-3.2.1::gentoo[network-cron]
sys-apps/util-linux caps

# xdelta3
dev-util/xdelta lzma

# Audacious
media-sound/audacious ffmpeg

# Audacity
media-sound/audacity ffmpeg

# Firefox hardened
x11-base/xorg-server xvfb
