# Globaud
*/* pulseaudio pipewire
*/* vulkan dist-kernel bluetooth
*/* jpeg png svg webp gif heif tiff jpeg2k
*/* opus ogg flac mp3
*/* vpx 

*/* -man -doc -gtk-doc -telemetry
*/* -nls

# Compilation
*/* lto pgo hardened pie

{{ if eq .chezmoi.hostname "denis-laptop" }}
{{ else }}
{{ end }}

# eigen
dev-cpp/eigen boost

# Make top look cool
sys-process/procps modern-top

# nftables
net-firewall/nftables json python

# Vulkan-Tools
dev-util/vulkan-tools cube

# heif
media-libs/libheif x265

# KeePassXC
app-admin/keepassxc keeshare
sys-libs/zlib minizip

# Emacs
app-editors/emacs gui tree-sitter
app-emacs/emacs-common gui

# FCITX
app-i18n/fcitx-qt qt5 qt6

# X11
x11-libs/libdrm video_cards_radeon
media-libs/mesa X
media-libs/libglvnd X

# Skanlite
app-text/poppler cairo

# OpenCV
media-libs/opencv ffmpeg -opengl

# FFMPEG
media-video/ffmpeg vpx libass

# cmus
media-sound/cmus mp4 aac ffmpeg

# Remmina
net-misc/remmina vnc
dev-libs/libdbusmenu gtk3

# Firmware
sys-kernel/linux-firmware compress-zstd

# NetworkManager
net-misc/networkmanager iwd wifi -wext -ppp

# Pipewire
media-sound/pulseaudio -daemon
media-video/pipewire sound-server pipewire-alsa

# pfl
sys-apps/util-linux caps

# Audacious
media-sound/audacious ffmpeg

# Catalyst
sys-apps/util-linux python
sys-boot/grub grub_platforms_efi-32

app-text/zathura-meta cb djvu postscript
